{% extends 'kosme/base.html' %}
{% load i18n %}

{% block content %}

    <form id="form" method="post" onSubmit="return saveDocumentByName(this.sub)" class="form-group">
           <textarea id="editor1" name="editor1">Вводьте лекцію тут)</textarea>

             {% csrf_token %}
              <label for="fileName">Назва лекції:</label>
              <input  class="form-control" name="fileName" id="fileName">
              <input  id="HTMLtoPDF" name="HTMLtoPDF" hidden="hidden">
             <br>
            <button name="sub" type="submit"  class="btn btn-primary"> Зберігти </button>
            </form>
        </form>


       <script type="text/javascript">
        CKEDITOR.replace( 'editor1' );
        timer = setInterval(updateDiv,100);
        function updateDiv(){
            var editorText = CKEDITOR.instances.editor1.getData();
               var fileDisplayArea = document.getElementById('HTMLtoPDF');
            fileDisplayArea.value = editorText;
        }
    </script>


{% endblock %}