    {% extends 'kosme/base.html'%}
    {% load i18n %}
    {% block title %}User info{% endblock %}

    {% block content %}
    <ul class="list-group">
        <li class="list-group-item">
            <h3 class="text-center"> Персональна інформація </h3>
        </li>
    </ul>

        <ul class="list-group" >
            <li class="list-group-item "> Логін :  {{ user.username}}</li>
            <li class="list-group-item"> Ім'я:  {{ user.first_name}}</li>
            <li class="list-group-item">Прізвище: {{user.last_name}}</li>
            <li class="list-group-item"> email: {{ user.email }}</li>
        </ul>
    {% endblock %}