{% extends 'kosme/quiz_base.html' %}
{% load i18n %}
 {% load staticfiles %}
{% block content %}
    <body>
    <h1>Quiz</h1>
        <div class="form-group">
            <label for="quiz_name" class="col-sm-3 control-label">Enter quiz name:</label>
                <div class="col-sm-9">
                    <input name="name" id="quiz_name" placeholder="quiz name" value="survey1" class="form-control" required>
                </div>
        </div>
        <br/>
        <br/>
        <div id="surveyContainer">
            <div id="editorElement"></div>
        </div>

        <script type="text/javascript" src="{% static 'kosme/quiz.js' %}"></script>

    </body>
{% endblock %}