{% extends 'kosme/quiz_base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block content %}
    <body>
    <h1>Quiz</h1>
        <div class="form-group">
            <div class="col-sm-9"> <h2> {{ qname }} </h2> </div>
        </div>
        <br/>
        <br/>
        <link rel="stylesheet" href="https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css">
        <div id="surveyElement"></div>
        <div id="surveyResult"></div>
        <input id="mainJSON" name="mainJSON" type="hidden" value="{{ mainJSON }}" />
        <input id="test_result" name="test_result" type="hidden" value="{{ test_result }}" />
        <script type="text/javascript" src="{% static 'kosme/quiz_show.js' %}"></script>
    </body>
{% endblock %}