{% extends 'kosme/base.html' %}
{% load i18n %}

    {% block title %}Class{% endblock %}

    {% block content %}
        {% if cname %}
                  <h2 class="text-center"> Список класу {{ cname }} </h2>
            {% if students %}
                <ul class="list-group">
                {% for student in students %}
                    <li class="list-group-item "> {{student.user.first_name}} {{student.user.last_name}} </li>
                {% endfor %}
                 </ul>
            {% else %}
                 <ul class="list-group">
                    <li class="list-group-item "> Немає учнів класу </li>
                </ul>
            {% endif %}
        {% else %}
             <ul class="list-group">
                    <li class="list-group-item "> Немає класу </li>
                </ul>
        {% endif %}
    {% endblock %}