{% extends 'kosme/base.html' %}
{% load i18n %}

    {% block title %}User home{% endblock %}

    {% block content %}
        {% if user.profile.is_teacher %}
             <h2 class="text-center"> Welcome teacher </h2>
        {% else %}
            <h2 class="text-center"> Welcome student </h2>
        {% endif %}
        <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{ message }}
            </li>
        {% endfor %}
        </ul>
            <div class="list-group">
                <a href="{% url 'kosme:profile' %}" class="list-group-item text-center"> Profile </a>
                <a href="{% url 'kosme:courses' %}" class="list-group-item text-center"> Show courses </a>
                 {% if not user.profile.is_teacher %}
                    <a href="{% url 'kosme:userClass' %}" class="list-group-item text-center"> Show class</a>
                 {% else  %}
                     <a href="{% url 'kosme:allQuizes' %}" class="list-group-item text-center"> Show quizes</a>
                 {% endif %}
                <a href="#" class="list-group-item text-center"> Show statistics</a>
            </div>
    {% endblock %}