{% extends 'kosme/base.html' %}
{% load i18n %}

    {% block title %}User home{% endblock %}

    {% block content %}
        {% if user.profile.is_teacher %}
             <h2 class="text-center"> Вітаємо вчитель </h2>
        {% else %}
            <h2 class="text-center"> Вітаємо учень </h2>
        {% endif %}
            <div class="list-group">
                <a href="{% url 'kosme:profile' %}" class="list-group-item text-center"> Профіль </a>
                <a href="{% url 'kosme:courses' %}" class="list-group-item text-center"> Предмети </a>
                 {% if not user.profile.is_teacher %}
                    <a href="{% url 'kosme:userClass' %}" class="list-group-item text-center"> Мій клас</a>
                     <a href="{% url 'kosme:userStatistics' %}" class="list-group-item text-center"> Статистика</a>
                 {% endif  %}
            </div>
    {% endblock %}