{% extends 'kosme/base.html' %}
{% load i18n %}

    {% block title %}Class{% endblock %}

    {% block content %}
            <h2 class="text-center"> Your class: </h2>
            <h3 class="text-center"> Class {{ cname }} </h3>
            {% if students %}
                <ul class="list-group">
                {% for student in students %}
                    <li class="list-group-item "> {{student.user.first_name}} {{student.user.last_name}} </li>
                {% endfor %}
                 </ul>
            {% else %}
                 <ul class="list-group">
                    <li class="list-group-item "> No class </li>
                </ul>
            {% endif %}
    {% endblock %}